# Misc.
*~
*.swp
build/
.idea/
*.iml
*.iml*
*.jar
*.autosave
*.zip
*.png
.cache/

# Python stuff
*__pycache__*
# Python virutalenv
bin/*
include/*
lib/*
pip-selfcheck.json

# don't add models to this base.
data/models